<div class="row">
  <div class="col-md-12">
    <main>
      <div class="articles">
        {{#each articles}}
          <h3><strong>{{this.title}}</strong></h3>
          <!-- <p>{{this.summary}}</p> -->
          <p>{{this.link}}</p>
          <button class="btn btn-primary save-btn">Save Article</button>
        {{/each}}
      </div>
    </main>
  </div>
</div>
