<div class="row">
  <div class="col-md-12">
    <main>
      <div class="articles">
        {{#each atricles}}
          <h1>{{aticles.title}}</h1>
          <h2>{{aticles.summary}}</h2>
          <h2>{{aticles.link}}</h2>
        {{/each}}
      </div>
    </main>
  </div>
</div>
