* {
  box-sizing: border-box;
}

body {

}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

.art-border {
  background-color: red;
  border: blue;
  box-shadow: 2px 2px #000;
}

#jumbotron-header {
  font-size: 4rem;
  text-align: center;
}

#jumbotron-par {
  text-align: center;
}

.jumbotron {
  background-image: url("../images/laptop.jpeg");
  opacity: .7;
  background-size: cover;
  background-repeat: no-repeat;
  height: 240px;
  color: #ccc;
  text-shadow: 2px 0px #000;
}
